<!DOCTYPE html>

<html ng-app="myWiki" lang="en">

<head>
    <title>Note Pro</title>

    <link type="text/css" href="assets/main.css" rel="stylesheet">

    <script src="scripts/core.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>

    <script type="text/javascript" src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <!-- link for CSS when using the tree as a Dom element -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control.css">
    <!-- link for CSS when using the tree as an attribute -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control-attribute.css">

<!--
    <link rel="stylesheet" type="text/css" href="libs/prism/prism.css">
    <script src="libs/prism/prism.js"></script>-->

    <script src="scripts/controller.js"></script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [
                    ['$', '$'],
                    ['\\(', '\\)']
                ]
            }
        });
    </script>
<!--
  <script type="text/ng-template" id="tree_renderer.html">
    <span my-file-link="item" ng-click="loadFile(item)">
      {{item.title}}
    </span>
    <ul>
      <li ng-repeat="item in item.children" ng-include="'tree_renderer.html'"></li>
    </ul>
  </script>
  -->
</head>

<body ng-controller="mainController">


    <div id="wrapper">
        <div id="top-menu">
          NotePro
          <button ng-click="saveFile()">Save</button>
          <input my-project-selector type="file" nwdirectory />
        </div>
        <div id="nav-bar">
          <treecontrol class="tree-classic"
            tree-model="fileTree"
            options="treeOptions"
            on-selection="loadFile(node)" >
            <span my-file-link="node">
              {{node.title}} 
            </span>
          </treecontrol>
          <!--
          <ul>
            <li ng-repeat="item in fileTree" ng-include="'tree_renderer.html'"></li>
          </ul>
          -->
        </div>
        <div id="editor" ng-model="content" ui-ace="{
          useWrapMode : true,
          showGutter: true,
          theme:'solarized_light',
          mode: 'markdown',
          onLoad: aceLoaded,
          onChange: aceChanged
        }"></div>
      <div id="preview" my-preview="content"></div>
    </div>

</body>

</html>
