<!DOCTYPE html>

<html ng-app="myWiki" lang="en">

<head>
    <title>Note Pro</title>

    <link type="text/css" href="assets/main.css" rel="stylesheet">
    <script src="scripts/core.js"></script>
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>

    <script src="scripts/controller.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [
                    ['$', '$'],
                    ['\\(', '\\)']
                ]
            }
        });
    </script>

  <script type="text/ng-template" id="tree_renderer.html">
    <span ng-click="loadFile(item)">
      {{item.title}}
    </span>
    <ul>
      <li ng-repeat="item in item.children" ng-include="'tree_renderer.html'"></li>
    </ul>
  </script>
</head>

<body ng-controller="mainController">


    <div id="wrapper">
        <div id="top-menu">
          NotePro
          <button ng-click="saveFile()">Save</button>
        </div>
        <div id="nav-bar">
          <ul>
            <li ng-repeat="item in items" ng-include="'tree_renderer.html'"></li>
          </ul>
        </div>
        <div id="editor" ng-model="content" ui-ace="{
          useWrapMode : true,
          showGutter: true,
          theme:'twilight',
          mode: 'markdown',
          onLoad: aceLoaded,
          onChange: aceChanged
        }"></div>
      <div id="preview" ng-bind-html="preview"></div>
    </div>

</body>

</html>
